/* Hide default login box */
.shiny-server-account {
  display: none;
}

.box.box-solid.box-primary>.box-header {
    color: #fff;
    background: #333;
    background-color: #333;
}

.box.box-solid.box-primary {
    border: 1px solid #333;
}

.danger {
  color: red;
  font-size: 14px;
  font-style: bold;
  text-align: center;
}

.profile-user-img {
  width: 150px !important;
}

/* DT Datatables Styles */


/* nowrap for column widths */
/* from https://stackoverflow.com/questions/55208855/how-to-set-column-width-in-r-shiny-data-table */
/*.nowrap {
  white-space: nowrap;
}*/

/*.datatables th {
  text-align: center !important;
}*/

/*.dt-col {
  min-width: 85px;
}*/

/*.dataTables_length {
  display: inline-block;
  vertical-align: middle;
  text-align: right;
  float: right;
}*/



